@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none;
  scrollbar-color: transparent transparent; /* Firefox */
  font-family: "Heebo", sans-serif;
  cursor: wait;
}

/* Webkit (Safari and Chrome) scrollbar */
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background: transparent; /* This will make the scrollbar thumb invisible */
}

.btn-active1 {
  transform: rotate(45deg);
  transition: transform 5.3s;
}

.btn-active2 {
  transform: rotate(-45deg);
  transition: transform 5.3s;
}

/* HeroSec Slider */
.sliderContainer {
  position: absolute;
  top: calc(100vh - 740px);
}

#trailer {
  height: 15px;
  width: 15px;
  background-color: #1c1d20;
  border-radius: 2rem;
  color: white;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

.workSec:hover > #trailer {
  opacity: 1;
}

@media (max-width: 1400px) {
  #trailer {
    display: none;
  }
}

/* Contact Circle */
.circleContainer {
  position: relative;
  margin-top: 100px;
}

.circle {
  height: 1550%;
  width: 100%;
  /* left: -10%; */
  /* right: -10%; */
  /* top: -400px; */
  border-radius: 0 0 50% 50%;
  background-color: white;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 60px 50px rgba(25, 25, 25, 0.748);
}

/* dots in about/Services */

.dot-flashing {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
  animation: dot-flashing 1.5s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -13px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
  animation: dot-flashing 1.5s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 13px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
  animation: dot-flashing 1.5s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #000000;
  }
  50%,
  100% {
    background-color: transparent;
  }
}

/* slide anmimation */
.slider {
  transition: transform 0.34s ease-in-out 2.7s;
  transform: translateY(100%);
}

.active {
  transform: translateY(-100%);
}
