@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  font-family: "Heebo", sans-serif;
}

.btn-active1 {
  transform: rotate(45deg);
  transition: transform 5.3s;
}

.btn-active2 {
  transform: rotate(-45deg);
  transition: transform 5.3s;
}
